include .gitignore
include README.rst
include LICENSE.txt
include NOTICE.txt
include MANIFEST.in
include requirements.txt
include test_requirements.txt
recursive-include docs *
global-exclude *pyc *pyo
